.App {
  background: #000;
  background-image: url("./assets/ray.svg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .App {
    background-position: center;
  }
}
